.service-close-text {
	transition: 0.3 all ease !important;
  will-change: opacity, transform;
}
.services_icon-svg {
	transition: transform 0.6s ease;
}
.services_item.closed-hover:hover .services_icon-svg.triangle  {
	transform: scale(1.25)
}
.services_item.closed-hover:hover .services_icon-svg.circle {
	transform: rotate(190deg)
}
.services_item.closed-hover:hover .services_icon-svg.check {
	transform: rotate(15deg);
  transform: scale(1.25)
}
.swiper-scrollbar {
  position: absolute;
  top: 0; /* сверху */
  left: 0;
  width: 100%;
  height: 8px; /* высота полосы */
  background-color: #1A1A1F;
  border-radius: 30px;/* фон полосы */
}

.swiper-scrollbar-drag {
  background: #007aff; /* цвет бегунка */
  height: 100%;
}
.services_item {
  transition: height 0.75s ease-in-out;
  cursor: pointer;
}
.services_item.closed-hover:hover .services-bg-verflow {
  opacity: 0.25 !important;
  transition: opacity 0.3s ease;
}
.services_item.closed-hover:hover .service-close-text {
  transform: translateX(0.8rem);
}
.service-content-wrapper,
.services_tags-wrap,
.services-bg-verflow, {
	transition: opacity 0.3s ease;
  will-change: opacity;
}
@media screen and (max-width: 767px) {
	.services_tags-wrap {
  	opacity: 1 !important;
  }
  .service-content-wrapper {
  	opacity: 1 !important;
  }
  .services-bg-verflow {
  	opacity: 0 !important;
  }
}
